body {
    margin: 0px;
}

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: rgb(3, 11, 53);
    overflow: auto;
}

.sidebar .logo {
    border-radius: 50%;
    left: 50%;
    top: 50%;
}